<!doctype html>
<html>
	<head>
		<title>Link shortener dashboard</title>
	</head>

	<body>
		<h1>Link shortener dashboard</h1>

		<table border=1>
			<tr>
				<th>Name</th>
				<th>Slug</th>
				<th>Visits</th>
				<th>Latest visit</th>
			</tr>
			
			{% for link, visit_count, latest_visit in data %}
			<tr>
				<td><a href="{{url_for('edit_link', id=link.id)}}">{{ link.name }}</a></td>
				<td><code>{{ link.slug }}</code></td>
				<td>{{ visit_count }}</td>
				<td>{{ latest_visit }}</td>
			</tr>
			{% endfor %}

		</table>

		<a href="{{url_for('create_link')}}">Create new link</a>
	</body>
</html>
